/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */


html, body {
    font-family: Manrope, sans-serif;
    background: rgb(248, 250, 250);
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger {
    display: none;
}

.heading {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
}


.heading--text-centr {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: center;
}

.header {
    padding: 15px 0 135px;
}

.about {
    padding: 128px 0 192px;
}

.services {
    padding: 134px 0 48px;
}

.brands {
    padding: 128px 0 81px;
}

.blog {
    padding: 136px 0 131px;
}

.customers {
    padding: 128px 0 159px
}

.questions {
    padding: 128px 0;
}

.expert {
    margin: 121px 0 422px;
}

.button {
    display: inline-flex;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 35px;
    border-radius: 12px;
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
    white-space: nowrap;
    transition: .3s;
    color: rgb(0, 0, 0);
}

.button:hover {
    scale: 1.1;
}


/* ============================== HEADER TOP ============================== */
/* ============================== HEADER TOP ============================== */
.header__body {
    flex-grow: 1;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo img {
    position: relative;
    top: 38px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    margin-right: 40px;
    opacity: 0.8;
    transition: all 0.3s;
}

.header__nav-item:last-child {
    margin-right: 0px;

}

.header__nav-item:hover {
    opacity: 1;
    transition: all 0.3s;
    scale: 1.2;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
}

.header__nav-item:last-child {
    margin-right: 12px;
}

.header__btn-box {
    display: flex;
}

.header__user-bg {
    transition: all 0.3s;
    opacity: 0.70;
}

.header__user-bg:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px rgb(43, 58, 34);
    opacity: 1;


}

.header__user-bg {
    width: 40px;
    height: 40px;
    background-color: rgb(5, 236, 156);
    border-radius: 50%;
    margin-right: 14px;
}


.header__divider {
    width: 42px;
    height: 0;
    left: 1386.5px;
    top: 24px;
    transform: rotate(90.00deg);
    border: 1px solid rgb(49, 255, 8);
    opacity: 0.36;
    margin-right: 8px;

}

.header__user-info {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.header__user-btn {
    line-height: 35px;
}



/* ============================== HEADER BODY ============================== */
/* ============================== HEADER BODY ============================== */


.header__body {
    padding: 80px 0 0px;
}

.header__body-inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__content {}

.header__title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -3%;
    margin-bottom: 32px;
    max-width: 642px;

}

.header__content-buttons {
    display: flex;
    align-items: center;
}

.header__content-btn {
    margin-right: 40px;
}


.header__play-video {
    background: url(../images/icons/Vector.svg) no-repeat;
    padding: 4px;

}

.header__play-video span {
    margin-right: 15px;


}

.header__play-video span {
    margin-left: 8px;
}

.header__days {
    margin-top: 48px;
    position: relative;
    margin-left: 40px;
}

.header__days::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    display: block;
    background: url("../images/icons/Icon.svg") no-repeat;
    width: 31px;
    height: 31px;
    opacity: 0.3;
}

.header__days-text {

    color: rgb(147, 145, 145);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.header__days-clok {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
}


.header__service {
    position: relative;
    justify-content: center;
    display: flex;
}

.header__play {
    content: "";
    top: 0;
    right: -250px;
    position: absolute;
    background-color: #fff;
    border-radius: 59px;
    align-items: center;
    display: flex;
    width: 281px;
    height: 102px;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


.header__play:hover {
    transition: all .3s;
    border: -12px solid #0ee2d8;
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
    box-shadow: 0 0 5px 20px rgba(255, 255, 255, 0.5);
}



.header__play span {
    margin-left: 14px;
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
}


.rateYo__box {
    content: "";
    bottom: -20px;
    right: -660px;
    position: absolute;
    align-items: center;
    display: flex;
    background-color: #fff;
    border-radius: 59px;
    width: 302px;
    height: 102px;
    justify-content: center;
    margin-left: 20px;
    transition: all 0.3s;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.rateYo__box:hover {
    transition: all .3s;
    border: -12px solid #0ee2d8;
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
    box-shadow: 0 0 5px 20px rgba(255, 255, 255, 0.5);
}

.rateYo__index {
    font-size: 24px;

}

.rateYo__index span {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.7;
}

.header__img {
    object-fit: cover;
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */

.main__about {
    background: rgb(242, 242, 242);
}

.heading--text-centr {
    text-align: center;
}

.about__siubtitle {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
}

.about__title {
    margin: 8px 0 64px;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: center;
}

.about__grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 8px
}

.about__item {
    background-color: #fff;
    display: grid;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 232px;
    position: relative;
    transition: all 0.3s;
    border-radius: 10px;
    padding-bottom: 25px;

}

.about__item:hover {
    background: linear-gradient(70deg, #0ee2d8 40px, #0dfc05 220px, #0ee2d8 350px);
    border-radius: 10px;
    transition: all 0.3s;
    scale: 1.04;
}



.about__link span {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;
    transition: all 0.3s;
}

.about__link:hover span {
    color: #098613;
    transition: all 0.3s;
}


.about__services {
    position: relative;
}

.about__services:hover {
    /*    text-shadow: 2px 2px 2px #05dffc; */

}

.about__next {
    position: absolute;
    bottom: -80px;
    right: -15px;
    display: flex;
    align-items: center;
    transition: all .3s;

}

.about__next span {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 16px;
}

.about__next:hover span {
    transition: all .3s;
    scale: 1.14;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */




.services__top {
    display: flex;
    justify-content: space-between;
}

.Services__content {
    width: 524px;
    height: 396px;


}

.Services__heading {
    margin-bottom: 16px;
}

.Services__text {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.services__info {
    width: 432px;
    height: 527px;
    position: relative;
}

.ex1,
.ex2 {
    border: none;
    border-top: 3px dotted #0dfc05;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 70px;
    transform: rotate(90deg);
    position: absolute;
    top: 113px;
    right: 433px;
}

.ex2 {
    top: 272px;
    right: 433px;
}

.services__link {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -3%;
    margin-bottom: 16px;
    position: relative;
}


.services__link span {
    background-color: #0ee2d8;
    padding: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    border-radius: 50px;
    text-align: center;
    color: #29005f;
    width: 72px;
    height: 72px;
}


.services__number {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
}

.services__item {
    width: 345px;
    height: 152px;
    margin-left: 30px;
    align-self: center;
}

.services__contact {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.servicer__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 780px;
    height: 502px;
    background: linear-gradient(70deg, #0ee2d8 20%, #0dfc05 50%, #0ee2d8 70%);
}

.services__heading {
    margin: 128px 80px 0px 80px;
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.5px;
    text-align: center;
}

.services__contect-btn {
    background: rgb(30, 27, 27);
    margin-left: 80px;
    margin-top: 50px;
}

.services__contect-btn span {
    color: #fff;
}

.services__img {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(150.58deg, #0ee2d8 50.285%, #0ee2d8 50.285%);
}

.services__row {
    margin-top: 48px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    align-items: center;
}

.services__row-item {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    text-align: left;
}

.services__row-item h2 {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(70deg, #0dfc05 0%, #0ee2d8 50%);
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: start;
    margin-bottom: 4px;
}

/* ============================== BRANDS ============================== */
/* ============================== BRANDS ============================== */

.main__brands {
    background: rgb(242, 242, 242);

}

.brands__title {
    margin-bottom: 3px;
}

.brands__grib {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 13px 10.1%;
}

.brands__item {
    opacity: 0.4;
}

.brands__item:hover {
    opacity: 1;
}

.brands__link {}

/* ============================== BLOG ============================== */
/* ============================== BLOG ============================== */


.blog__inner {}

.blog__item {
    display: flex;
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -3%;
    text-align: left;


}


.blog__link:hover {
    scale: 1.1;
    transition: all 0.3s;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
}

.blog__link {
    transition: all 0.3s;
    margin: 47px 30px 46px 0px;
}

.blog__grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 32px
}

.blog__content img {
    margin-bottom: 24px;
}

.blog__content span {
    color: rgb(147, 145, 145);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

.blog__item-title {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 16px 0 16px;
}

.blog__item-text {

    color: rgb(35, 37, 54);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 24px;
}


/* ============================== CUSTOMERS ============================== */
/* ============================== CUSTOMERS ============================== */

.main__customers {
    background: #f2f2f2;
}

.customers {}

.customers__inner {}

.customers__heading {
    text-align: center;
    margin-bottom: 76px;

}

.customers__slider-wrapper {
    position: relative;

}

.customers__slider {
    margin-bottom: 35px;

}

.customers__slider .slick-list {
    margin: 0 -30px;
}

.customers__slide {
    padding: 0 25px;
}

.customers__slide-inner {
    box-sizing: border-box;
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 6px;
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    background: rgb(255, 255, 255);
    margin-right: 50px;
    justify-content: space-between;
}

.customers__slide-inner:last-child {
    margin-right: 0px;
}

.customers__user {
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    padding: 72px 0px 0px 72px;
}

.customers__user img {
    border-radius: 50%;
}

.customers__avater {
    margin-right: 16px;
}

.customers__info {}

.customers__info-name {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    text-align: left;
}

.customers__info-positioN {
    color: rgb(147, 145, 145);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.customers__quote {
    text-align: center;
    padding: 24px 72px 72px 72px;
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: left;
    position: relative;

}

.customers__arrow {
    position: absolute;
    bottom: -76px;
    right: 0px
}

.customers__prev {
    right: 60px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
}

.customers__prev:hover {
    background: linear-gradient(70deg, #0ee2d8 50%, #0dfc05 50%);
    scale: 1.2;
    transition: all .3s;

}

.customers__next {
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;

}

.customers__next:hover {
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
    scale: 1.2;
    transition: all .3s;

}

.customers__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;


}

.customers__dots li {
    margin-right: 11px;

}

.customers__dots li:last-child {
    margin-right: 0px;

}


.customers__dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;


}

.customers__dots button::before {
    content: "";
    height: 5px;
    width: 100%;
    background-color: #0ee2d8;
    border-radius: 4px;
}

.customers__dots-click {
    align-items: center;
}

.customers__dots .slick-active button::before {
    background-color: #0dfc05;
    transition: all .3s;
}

/* ============================== QESTIONS ============================== */
/* ============================== QESTIONS ============================== */




.main__questions {
    background-color: #E2E6E9;
}

.questions__inner {
    max-width: 900px;
    margin: 0 auto;

}

.questions__iheading {
    justify-content: center;

}

.questions__acc {
    margin-top: 86px;
}

.questions__acc-item {
    background-color: white;
    margin: 12px;
}

.questions__acc-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__acc-head:hover {
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
}

.questions__acc-span {
    content: "";
    position: absolute;
    top: 35px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: linear-gradient(70deg, #0dfc05 50%, #0ee2d8 50%);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


.questions__acc-span::before,
.questions__acc-span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #000000;
    border-radius: 3px;
}

.questions__acc-span::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.questions__acc-link--active .questions__acc-span::after {
    transform: rotate(0deg);
}


.questions__acc-title {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    padding: 40px 0px 16px 40px;
}

.questions__acc-text {
    max-width: 701px;
    font-size: 18px;
    line-height: 175%;
    color: #939191;
    margin-left: 40px;
    padding-bottom: 38px;
}

.questions__acc-link {
    justify-content: space-between;
    align-items: center;
}

.questions__acc-head {
    position: relative;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    padding: 40px 0px 40px 40px;
}


.questions__acc-text {
    display: none;
    max-width: 701px;
    font-size: 18px;
    line-height: 175%;
    color: #939191;
    margin-left: 40px;
    padding-bottom: 38px;
}

.questions__acc-span {
    content: "";
    position: absolute;
    top: 35px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #0ee2d8;
    align-items: center;
    display: flex;
    justify-content: center;
}

.questions__acc-span::before,
.questions__acc-span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #000000;
    border-radius: 3px;
}

.questions__acc-link--active .squestions__acc-span::after {
    transform: rotate(0deg);
}

.questions__acc-span::after {
    transform: rotate(90deg);
    transition: all .3s;
}


/* ============================== EXPERT ============================== */
/* ============================== EXPERT ============================== */


.expert__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.expert__body {
    max-width: 626px;

}

.expert__heading {
    text-align: justify;
    margin-bottom: 48px;
}

.expert__form {
    margin-right: 139px;
}


.expert__form-input {
    width: 624px;
    height: 72px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    padding: 23px 0px 23px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    border-radius: 5px;
}

.expert__form-input:last-child {

    margin-bottom: 48px;
}


.expert__contact {
    margin-top: 130px;

}

.expert__contact-item {
    margin-bottom: 32px;
}

.expert__contact-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #1E1B1B;
}


.expert__contact-address {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em
}

.expert__contact-tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em
}

.expert__contact-email {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em
}

.expert__contact-clok {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em
}

.expert__maps {
    height: 412px;
    width: 100%;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 178px;
    position: absolute;
    top: 615px;
    left: 0;
}


/* ============================== CONNECTION ============================== */
/* ============================== CONNECTION ============================== */

.connection__top img {
    width: 100%;
    height: 448px;
}



.connection__bg {
    background-color: #1E1B1B;
    padding: 138px 0 134px;
}

.connection__inner {
    display: flex;

}

.connection__heading {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    max-width: 463px;
    margin-bottom: 64px;
}

.connection__body-col {
    display: flex;
}


.connection__body-item {
    margin-right: 23px;
    opacity: 0.4;
}

.connection__body-item:hover {
    opacity: 1;
}

.connection__body-item:last-child {
    margin-right: 0px;
}

.connection__contact {}

.connection__contact-item {
    color: #fff;
    margin-left: 193px;
    margin-bottom: 32px;

}

.connection__contact-top {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    opacity: 0.3;
    margin-bottom: 8px;

}

.connection__contact-address {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.connection__contact-tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.connection__contact-clok {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}


/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */



.footer {
    background-color: #1E1B1B;
    padding: 60px 0 64px;
    color: #fff;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__lict {
    display: flex;
    align-items: center;
}

.footer__item {
    margin-left: 36px;
}

.footer__rights {
    opacity: 0.3;
}



/* ============================== MEDIA ============================== */
/* ============================== MEDIA ============================== */
@media (max-width: 1300px) {

    /* .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.349);
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }
    .overlay--show {
        visibility: visible;
        opacity: 1; */
    /*    } */
    .header__title {
        font-size: 54px;
        letter-spacing: -3%;
        max-width: 550px;
        line-height: 70px;
    }

    .header__img {
        max-width: 450px;
    }

    .services__img {
        overflow: hidden;

    }

    .services__img img {
        height: 100%;
        object-fit: cover;
    }

    .servicer__bg {
        width: 600px;
    }

    .rateYo__box {
        width: 272px;
        height: 62px;
    }

    .rateYo__index {
        display: none;
    }

    .header__play {
        width: 272px;
        height: 42px;
    }

    .brands__grib {
        gap: 10px;
    }

    .blog__grid {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        width: 405px;
    }
}

/* ================================ 1200 ===============================   */
@media (max-width: 1200px) {
    .header__title {
        font-size: 54px;
        letter-spacing: -3%;
        max-width: 550px;
        line-height: 65px;

    }

    .rateYo__box {
        right: -400px;

    }
    .expert__form-input {
        width: 400px;
        
    }
    .expert__body {
        width: 550px;
    }
    .expert__form {
        margin: 0;
    }
}

/* ================================ 1050 ===============================    */
@media (max-width: 1050px) {
    .header__img {
        max-width: 350px;
    }

    .about__grid {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        gap: 8px
    }

    .about__item {
        background-color: #fff;
        width: 100%;
        height: 232px;
    }

    .services__top {
        flex-direction: column;
    }

    .Services__heading {
        font-size: 41px;
    }

    .services__link span {
        display: none;

    }

    .servicer__bg {
        width: 450px;
    }
    .blog__grid {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    .main__blog {
        padding: 0;
    }
}

/* ================================ 950 ===============================    */
@media (max-width: 930px) {
    .header__img {
        display: none;
    }

    .header__play {
        position: relative;
        top: 0;
        right: 0px;
    }

    .rateYo__box {
        position: relative;
        right: 0;
        margin: 0;

    }

    .rateYo__box-bloc {
        position: relative;
        justify-content: center;
        display: flex;
    }

    .header__days-text {
        text-align: center;
        margin: 0;
        margin-top: 15px;
    }

    .header__days-clok {
        text-align: center;
        font-size: 16px;

    }

    .header__days::before {
        display: none;
    }

    .header__days {
        flex-direction: column;
        margin-left: 0px;

    }



    .header__title {
        font-size: 41px;
        letter-spacing: -3%;
        max-width: 450px;
        line-height: 60px;
        margin-top: 20px;
    }





    .burger {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 150;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .2s;

    }

    .burger--follow {
        top: 7px;
        right: 7px;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        border-radius: 5px;
        margin: 5px 0;
        background: linear-gradient(70deg, #0ee2d8 50%, #0dfc05 50%);
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        border-radius: 5px;
        background: linear-gradient(70deg, #0ee2d8 50%, #0dfc05 50%);
    }


    .header__divider {
        transform: rotate(0deg);
        width: 100%;
    }

    .header__top-inner {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        /* background-color: #4d6d4c; */
        background: url(../images/bogdan.jpg);
        background-position: 40%;
        z-index: 100;
        min-width: 320px;
        transform: translateX(0%);
        transition: all .2s;
    }

    .header__inner--open {
        transform: translateX(100%);
    }

    .header__nav {
        text-align: center;
        margin: 0 auto;
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        padding: 60px 0;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin: 0;
    }

    .header__nav-item {
        margin-right: 13px;
    }

    .header__nav-link {
        padding: 30px;
        display: block;
    }

    .header__btn-box {
        flex-direction: column-reverse;
    }

    .header__user-bg {
        margin: 0 auto;
    }

    .header__user-nav {
        margin-bottom: 10px;
        flex-grow: 1;
    }

    .header__user-btn {
        margin-left: 7px;
    }

    .about__title {
        font-size: 40px;
    }

    .about {
        padding: 0;
    }
    .Services__text {
        width: 100%;
    }
    .services__heading {
        font-size: 35px;
        line-height: 40px;
        margin: 100px 30px 30px 30px;
    }

    .services__row {
        display: none;
    }

    .brands__title {
        font-size: 45px;
    }

    .brands__grib {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        gap: 8px
    }

    .blog__grid {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        width: 350px;
        height: 100%;
    }
    .main__blog {
        padding: 0;
    }
    .customers__heading  {
        font-size: 38px
    }
    .customers__slider-wrapper {

    }
    .customers__slide-inner {
        height: 350px;
        width: 100%;
    }
    .customers__quote {
        padding: 0;

    }
    .customers__user {
        padding: 0;
    }
    .questions__heading {
        font-size: 38px;
    }
    .questions__acc-head {
        font-size: 18px;
    }
    .expert__inner {
        flex-direction: column;
    }
    .expert__maps {
        /* position: relative; */
        height: 280px;
    width: 100%;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 178px;
    position: absolute;
    top: 888px;
    left: 0;
    }

    .expert__maps {
        margin: 0;
    }
    .main__expert {
margin: 0;
padding: 0;
    }
    .expert__contact {
margin: 0;
    }
    .connection__contact {
        display: none;
    }
}
/* ================================ 500 ===============================   */
@media (max-width: 500px) {

    .header__top-inner {
        min-width: none;
        left: 0;
    }

    .header__title {
        font-size: 38px;
        max-width: none;

    }

    .header__content-buttons {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;
    }

    .header__img {
        display: none;
    }

    .header__content-btn {
        align-items: center;
        margin: 0;
        margin-top: 20px;

    }

    .about__title {
        font-size: 35px;
        line-height: 40px;
    }

    .about__item {
        background-color: #fff;
        width: 100%;
        height: 140px;
    }

    .about__link span {
        font-size: 16px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0px;
    }

    .Services__heading {
        font-size: 35px;
        line-height: 40px;
        
    }

    .Services__content {
        width: 100%;
        height: 330px;
    }

    .services__info {
        width: 330px;
        height: 350px;
    }

    .services__item {
        width: 350px;
        margin: 0;

    }

    .services__link {
        font-size: 28px;
        margin: 0;
    }

    .services__content-btn {
        display: flex;
        justify-content: center;
    }

    .servicer__bg {
        width: 100%;
        height: 300px;
        border-radius: 45px;
        margin-top: 100px;

    }

    .services__heading {
        font-size: 35px;
        line-height: 40px;
        margin: 30px 30px 0px 30px;

    }
    .services__contect-button {
        padding: 0;
        display: flex;
    justify-content: center;
    }
    .services__contect-btn {
        margin: 0;
        margin-top: 30px    ;
        justify-content: center;
        position: relative;
    }

    .brands__title {
        font-size: 35px;
    }

    .main__brands {
        padding: 0;
    }

    .brands__link img {
        width: 100%;
    }

    

    .blog__heading {
        display: block;
        font-size: 35px;
        text-align: center;
    }

    .blog__item {
        flex-direction: column;
    }

    .blog__link {
        margin: 0;
    }

    .blog__content {
        width: 350px;
        height: 100%;
    }

    .blog__content img {
        width: 350px;
        margin-bottom: 15px;
    }

    .blog__item-text {
        margin: 0;
    }
    .blog__item-title {
        font-size: 25px;
        width: 300px;
        line-height: 30px;
        margin: 0;
    }
    .main__customers {
        padding: 40px 15px 60px;
    }
    .customers__heading  {
        font-size: 35px;
        line-height: 40px;
    }
    .customers__quote {
        font-size: 16px;
        line-height: 25px;
        padding: 10px;
    }
    .customers__slide {
        padding: 1px;
    }
    .customers__avater {
        margin: 0;
    }
    .customers__user {
flex-direction: column;
justify-content: end;
position: relative;
left: 15px;

    }
    .customers__slide-inner{
border-radius: 10px;
    }
    .customers__info {
        padding: 15px 0 0 0;
        
    }

    .customers__info-name {
        font-size: 16px;
        line-height: 8px;
        justify-content: center;
        font-weight: 900;
        border-bottom: 4px solid #0ee2d8;
        padding: 3px;
        border-radius: 10px;
    }
    .customers__dots {
        display: none;
    }
    .customers__quote {
        padding-left: 12px;
    }
    .customers__info-positioN {

        display: none;
    }

    .questions__heading {
        font-size: 35px;
        line-height: 40px;
    } 
    .questions__acc-head {
        font-size: 16px;
        padding: 15px 35px 15px 15px ;
        text-align: center;
    }
    .questions__acc-span {
        position: absolute;
        top: 12px;
        right: -12px;
    }
    .questions__acc-item {
        border-radius: 30px;
    }
    .questions__acc-head:hover {
        border-radius: 30px;
    }
    .main__questions {
padding: 30px 0 30px;
    }
    .questions__acc {
        margin: 0;
    }
    .questions__acc-text {
        margin: 0 10px 0;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 22px;
    }
    .expert__heading {
        font-size: 35px;
        line-height: 40px;
    }
    .expert__inner {
        display: block;
        flex-direction: column;
    }
    .expert__form-input {
        width: 340px;
        border-radius: 30px;
    }
    .expert__body {
        margin: 0;
        width: 100%;
    }
    .main__expert {

        margin: 40px 0 2px;
    }
    .expert__contact {
        margin: 0;
    }
    .expert__button-btn {
        display: flex;
        justify-content: center;
    }
    .expert__form-row {
        width: 380px;
    }
    .connection__top {
        display: none;
    }
    .expert__maps {
        content: "";
        position: relative;
        top: 50px;
        left: 0;
        height: 280px;
        width: 100%;
    }
    .connection__heading {
        font-size: 35px;
        line-height: 40px;
    }
    .connection__bg {
        padding: 60px 0 0;
    }
    .footer__lict {
        display: none;
    }
    .footer__inner {
        flex-direction: column;
    }
    .connection__body-col {
        justify-content: space-between;
    }
    .footer__rights {
        margin-top: 15px;
    }

}