/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */


html, body {
    font-family: Manrope, sans-serif;
    background: rgb(248, 250, 250);
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.heading {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: left;
}


.heading--text-centr {
    text-align: center
color: rgb(30, 27, 27);
font-family: Manrope;
font-size: 58px;
font-weight: 800;
line-height: 76px;
letter-spacing: -3%;
text-align: center;
}

.header {
    padding: 15px 0 135px;
}

.about {
    padding: 128px 0 192px;
}

.services {
    padding: 134px 0 48px;
}

.brands {
    padding: 128px 0 81px;
}

/* ============================== HEADER TOP ============================== */
/* ============================== HEADER TOP ============================== */


.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    margin-right: 40px;
    opacity: 0.70;
    transition: all 0.3s;
}

.header__nav-item:hover {
    color: #05ec9c;
    border-radius: 100%;
    opacity: 1;
    transition: all 0.3s;
    scale: 1.2;
}

.header__nav-item:last-child {
    margin-right: 12px;
}

.header__btn-box {
    display: flex;
}

.header__user-bg {
    transition: all 0.3s;
    opacity: 0.70;
}

.header__user-bg:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px rgb(43, 58, 34);
    opacity: 1;


}

.header__user-bg {
    width: 40px;
    height: 40px;
    background-color: rgb(5, 236, 156);
    border-radius: 50%;
    margin-right: 14px;
}

.header__divider {
    width: 42px;
    height: 0;
    left: 1386.5px;
    top: 24px;
    transform: rotate(90.00deg);
    border: 1px solid rgb(59, 144, 241);
    opacity: 0.36;
    margin-right: 8px;

}

.header__user-info {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.header__user-btn {
    line-height: 35px;
}


/* ============================== HEADER BODY ============================== */
/* ============================== HEADER BODY ============================== */


.header__body {
    padding: 80px 0 0px;
}

.header__body-inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__content {}

.header__title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -3%;
    text-align: left;
    margin-bottom: 32px;

}

.header__content-buttons {
    display: inline-flex;
    align-items: center;
}

.header__content-btn {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 40px;



}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 35px;
    border-radius: 12px;
    background: linear-gradient(150.58deg, #0dfc05 -39.078%, #0ee2d8 50.285%);
    white-space: nowrap;
    transition: .3s;
    color: rgb(0, 0, 0);
}

.button:hover {
    scale: 1.1;
}

.header__play-video {
    display: inline-flex;
    align-items: center;
}

.header__play-video span {
    margin-left: 8px;
}

.header__days {
    margin-top: 48px;
    position: relative;
    margin-left: 40px;
}

.header__days::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    display: block;
    background: url("../images/icons/Icon.svg") no-repeat;
    width: 31px;
    height: 31px;
    opacity: 0.3;
}

.header__days-text {

    color: rgb(147, 145, 145);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.header__days-clok {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
}


.header__service {
    position: relative;
    margin-left: 30px;
}

.header__play {
    content: "";
    top: 80px;
    left: -35px;
    position: absolute;
    background-color: #fff;
    border-radius: 59px;
    align-items: center;
    display: flex;
    width: 281px;
    height: 102px;
    justify-content: center;
    border: 12px solid rgba(225, 225, 225, 0.43);
    -webkit-background-clip: padding;
    transition: all 0.3s;

}


.header__play:hover {
    transition: all 1s;
    border: 12px;
    box-shadow: 0px 8px 118px 5px rgba(0, 248, 103, 0.12);
    background: linear-gradient(150.58deg, hwb(118 2% 1%) -39.078%, #0ee2d8 50.285%);
}


.header__play span {
    margin-left: 14px;
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    text-align: left;
}


.rateYo__box {
    content: "";
    bottom: 60px;
    border: 12px solid rgba(225, 225, 225, 0.43);
    right: -30px;
    position: absolute;
    align-items: center;
    display: flex;
    background-color: #fff;
    border-radius: 59px;
    width: 302px;
    height: 102px;
    -webkit-background-clip: padding;
    justify-content: center;
    margin-left: 20px;
    transition: all 0.3s;
}

.rateYo__box:hover {
    transition: all 0.3s;
    border: 12px;
    background: linear-gradient(150.58deg, #0dfc05 -39.078%, #0ee2d8 50.285%);
}

.rateYo__index {
    font-size: 24px;

}

.rateYo__index span {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */

.main__about {
    background: rgb(242, 242, 242);
}

.heading--text-centr {
    text-align: center;
}

.heading__siubtitle {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
}

.heading__title {
    margin: 8px 0 64px;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: center;
}

.about__grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 8px
}

.about__item {
    background-color: #fff;
    display: grid;
    text-align: center;
    align-items: center;
    width: 316px;
    height: 232px;
    position: relative;
    transition: all 0.3s;
    border-radius: 10px;
    padding-bottom: 25px;

}

.about__item:hover {
    background: linear-gradient(150.58deg, #0dfc05 -39.078%, #0ee2d8 50.285%);
    border-radius: 10px;
    transition: all 0.3s;
    scale: 1.04;
}



.about__link span {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;
    transition: all 0.3s;

}

.about__link:hover span {
    color: #098613;
    transition: all 0.3s;
}


.about__services {
    position: relative;
}

.about__services:hover {
    text-shadow: 2px 2px 2px #05dffc;

}

.about__next {
    position: absolute;
    bottom: -80px;
    right: -15px;
    display: flex;
    align-items: center;

}

.about__next span {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 16px;
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */




.services__top {
    display: flex;
    justify-content: space-between;
}

.Services__content {
    width: 524px;
    height: 396px;


}

.Services__heading {
    margin-bottom: 16px;
}

.Services__text {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.services__info {
    width: 432px;
    height: 527px;
}

.services__link {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -3%;
/*     text-align: left; */
    margin-bottom: 16px;
    position: relative;
}


.services__link span {
content: "";
position: absolute;
top: 0;
left: -100px;
border-radius: 50px;
text-align: center;
    color: #29005f  ;
    width: 72px;
    height: 72px;
background: url(../images/services/BG.svg) 20% 0% no-repeat;
height: 100vh;
display: block;

}
.services__number {
    color: rgb(30, 27, 27);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
}

.services__item {
    width: 345px;
    height: 152px;
    margin-left: 30px;
    align-self: center;
}

.services__contact {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.servicer__bg {
    position: absolute;
    top: 0;
    left: 0;
width: 780px;
height: 502px;
background: linear-gradient(150.58deg, #0dfc05 -39.078%, #0ee2d8 50.285%);
}

.services__heading {
    color: #fff;
    margin: 128px 80px 0px 80px;
color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 48px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.5px;
text-align: center;
}

.services__contect-btn {
    background: rgb(30, 27, 27);
    margin-left: 80px;
    margin-top: 50px;
}
.services__contect-btn span{
    color:#fff;
}

.services__img {
    max-width: 100vw ;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(150.58deg,#0ee2d8 50.285%, #0ee2d8 50.285%);
}

.services__row {
    margin-top: 48px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    align-items: center;
}

.services__row-item {
color: rgb(30, 27, 27);
font-family: Manrope;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: -3%;
text-align: left;
}
.services__row-item h2 {
color: rgb(102, 28, 231);
font-family: Manrope;
font-size: 58px;
font-weight: 800;
line-height: 76px;
letter-spacing: -3%;
text-align: start;
margin-bottom: 4px;
}


/* ============================== BRANDS ============================== */
/* ============================== BRANDS ============================== */

.main__brands {
    background: rgb(242, 242, 242);
}
.brands__title {
}
.brands__grib {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.brands__item {
}
.brands__link {
}